[FORMAT]
1.0

##############################################
#################### MESH ####################
##############################################

[MESH FILE]
../../meshes/unitSquareQuad2D-6.msh

[DATA FILE]
data/stokesDirichletTestQuad2D.h

[MESH DIMENSION]
2

[ELEMENT TYPE]
4

[INTEGRATION TYPE]
GLL
#CUBATURE

################################################
#################### DEVICE ####################
################################################

[THREAD MODEL]
#OpenCL
CUDA
#Serial

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

################################################
################ PROBLEM SETUP #################
################################################

[TEST CASE]
#Debug
#SimpleConstantViscosityDirichletQuad2D
SimpleTimeDependentConstantViscosityDirichletQuad2D

# Only applies to steady-state test cases.
[LAMBDA]
1.e3

# Only applies to time-dependent test cases.
[FINAL TIME]
1

[VELOCITY POLYNOMIAL DEGREE]
7

[VELOCITY DISCRETIZATION]
CONTINUOUS

[PRESSURE POLYNOMIAL DEGREE]
6

[PRESSURE DISCRETIZATION]
CONTINUOUS

################################################
############ KRYLOV SOLVER OPTIONS #############
################################################

[KRYLOV SOLVER]
MINRES
#DQGMRES

[KRYLOV SOLVER ITERATION LIMIT]
1000

[KRYLOV SOLVER TOLERANCE]
1.0e-6

################################################
############ PRECONDITIONER OPTIONS ############
################################################

[PRECONDITIONER]
#NONE
#JACOBI
SCHURCOMPLEMENTBLOCKDIAG

[JACOBI BOOST PARAMETER]
1.0e-1

[VELOCITY BLOCK PRECONDITIONER]
MULTIGRID
#JACOBI
#MASSMATRIX

[PRESSURE BLOCK PRECONDITIONER]
#MASSMATRIX
MULTIGRID


################################################
########## VELOCITY MULTIGRID OPTIONS ##########
################################################

[VELOCITY MULTIGRID COARSENING]
HALFDEGREES
#ALLDEGREES
#HALFDOFS

[VELOCITY MULTIGRID SMOOTHER]
DAMPEDJACOBI+CHEBYSHEV

[VELOCITY MULTIGRID CHEBYSHEV DEGREE]
1

[VELOCITY MULTIGRID PARALMOND AGGREGATION STRATEGY]
DEFAULT

[VELOCITY MULTIGRID PARALMOND CYCLE]
KCYCLE

[VELOCITY MULTIGRID PARALMOND SMOOTHER]
DAMPEDJACOBI+CHEBYSHEV

[VELOCITY MULTIGRID PARALMOND CHEBYSHEV DEGREE]
1

################################################
########## PRESSURE MULTIGRID OPTIONS ##########
################################################

[PRESSURE MULTIGRID COARSENING]
#ALLDEGREES
HALFDEGREES
#HALFDOFS

[PRESSURE MULTIGRID SMOOTHER]
DAMPEDJACOBI+CHEBYSHEV

[PRESSURE MULTIGRID CHEBYSHEV DEGREE]
1

[PRESSURE MULTIGRID PARALMOND AGGREGATION STRATEGY]
DEFAULT

[PRESSURE MULTIGRID PARALMOND CYCLE]
KCYCLE

[PRESSURE MULTIGRID PARALMOND SMOOTHER]
DAMPEDJACOBI
#+CHEBYSHEV

[PRESSURE MULTIGRID PARALMOND CHEBYSHEV DEGREE]
1

################################################
############ TIME INTEGRATOR OPTIONS ###########
################################################

[TIME INTEGRATOR]
BACKWARDEULER

[TIME STEP]
1.0e-3

################################################
################ OTHER OPTIONS #################
################################################

[VERBOSE]
TRUE

[DIM FISCHER SUCCESSIVE RHS]
20

[STOKES USER KERNEL FILE]
data/stokesTest1Quad2D.okl
