[FORMAT]
1.0

##############################################
#################### MESH ####################
##############################################

[MESH FILE]
../../meshes/unitSquareQuad2D-1.msh

[DATA FILE]
data/stokesDirichletTestQuad2D.h

[MESH DIMENSION]
2

[ELEMENT TYPE]
4

################################################
#################### DEVICE ####################
################################################

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

################################################
################ PROBLEM SETUP #################
################################################

[VELOCITY POLYNOMIAL DEGREE]
7

[VELOCITY DISCRETIZATION]
CONTINUOUS

[PRESSURE POLYNOMIAL DEGREE]
6

[PRESSURE DISCRETIZATION]
CONTINUOUS

################################################
############ KRYLOV SOLVER OPTIONS #############
################################################

[KRYLOV SOLVER]
MINRES

[KRYLOV SOLVER ITERATION LIMIT]
5000

[KRYLOV SOLVER TOLERANCE]
1.0e-8

################################################
############ PRECONDITIONER OPTIONS ############
################################################

[PRECONDITIONER]
NONE
#JACOBI

[JACOBI BOOST PARAMETER]
1.0e-1

################################################
################ OTHER OPTIONS #################
################################################

[VERBOSE]
TRUE
