[FORMAT]
1.0

##############################################
#################### MESH ####################
##############################################

[MESH FILE]
../../meshes/unitSquareQuad2D-1.msh

[MESH DIMENSION]
2

[ELEMENT TYPE]
4

################################################
#################### DEVICE ####################
################################################

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

################################################
################ PROBLEM SETUP #################
################################################


################################################
########### VELOCITY DISCRETIZATION ############
################################################

[VELOCITY POLYNOMIAL DEGREE]
2

[VELOCITY DISCRETIZATION]
CONTINUOUS

################################################
########### PRESSURE DISCRETIZATION ############
################################################

[PRESSURE POLYNOMIAL DEGREE]
1

[PRESSURE DISCRETIZATION]
CONTINUOUS

################################################
################ OTHER OPTIONS #################
################################################

[VERBOSE]
TRUE
