[FORMAT]
1.0

[DATA FILE]
#data/insVortex3D.h
#data/insBeltrami3D.h
data/insChannel3D.h

[MESH FILE]
#../../meshes/insChannelSlipHex3D.msh
#../../meshes/insBeltramiHex3D.msh
#../../meshes/insVortex3D.msh
../../meshes/insChannelHex3D.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
4


[ELEMENT MAP]
ISOPARAMETRIC

[THREAD MODEL]
#Serial
#OpenCL
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

# can be EXTBDF1,2, or 3
# can add SUBCYCLING to EXTBDF or TOMBO (if C0 velocity solve)
# can add DIFF for velocity increament solve in TOMBO
[TIME INTEGRATOR]
#ARK2
#EXTBDF2
TOMBO2

#currently one only
[NUMBER of SCALAR FIELD]
1

[SUBCYCLING STEPS]
0

[SUBCYCLING TIME ORDER]
4

# can be CUBATURE or COLLOCATION
# CONVECTIVE (CO only) or CONSERVATIVE (C0 or DG)
[ADVECTION TYPE]
#NODAL+CONVECTIVE
#NODAL+CONSERVATIVE
#CUBATURE+CONVECTIVE
CUBATURE+CONSERVATIVE

#currently RELAXATION, 
[FILTER STABILIZATION]
NONE
#RELAXATION

[FILTER STRENGTH]
50.0

#1D for hex and quads
[FILTER CUTOFF RATIO]
0.9

[VISCOSITY]
0.01

[DIFFUSIVITY]
0.001 

[UBAR]
1.0

[VBAR]
0.0

[WBAR]
0.0

[PBAR]
0.0

[TSTEPS FOR SOLUTION OUTPUT]
100

[START TIME]
0

[FINAL TIME]
10.0

[CFL]
0.5

# overwrites time step size
[DT]
1E-3

[OUTPUT TYPE]
VTU

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
insChannelHex3D

#################################################
########## Velocity Solver Options ##############
#################################################

# can add FLEXIBLE and/or NONBLOCKING to PCG
[VELOCITY KRYLOV SOLVER]
PCG
#PCG+NONBLOCKING
#+NONBLOCKING
#PCG+FLEXIBLE
# PCG+FLEXIBLE
# PCG+NONBLOCKING
# PCG+NONBLOCKING+FLEXIBLE

[VELOCITY SOLVER TOLERANCE]
1.e-10

# can be IPDG, [ currently CONTINUOUS seems to be broken ]
[VELOCITY DISCRETIZATION]
#IPDG
CONTINUOUS


# can be NODAL or BERN
[VELOCITY BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[VELOCITY PRECONDITIONER]
JACOBI
#MULTIGRID

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[VELOCITY MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

[VELOCITY MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
VCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[VELOCITY PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[VELOCITY PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[VELOCITY PARALMOND LPSCN ORDERING]
MAX
#MIN

[VELOCITY PARALMOND CHEBYSHEV DEGREE]
2

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[PRESSURE KRYLOV SOLVER]
PCG
#PCG+FLEXIBLE
#PCG+FLEXIBLE+NONBLOCKING
#PCG (if fixed preconditioner)
#PCG+NONBLOCKING (if fixed preconditioner)
#PCG+FLEXIBLE
#PCG+FLEXIBLE+NONBLOCKING

[PRESSURE SOLVER TOLERANCE]
1.e-10

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
CONTINUOUS
#IPDG
#(we don't typically use this)

# can be NODAL or BERN
[PRESSURE BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
#JACOBI
MULTIGRID
#FULLALMOND
########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[PRESSURE MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

[PRESSURE MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
VCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[PRESSURE PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[PRESSURE PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[PRESSURE PARALMOND LPSCN ORDERING]
MAX
#MIN

[PRESSURE PARALMOND CHEBYSHEV DEGREE]
2

#################################################
########## Scalar Solver Options ##############
#################################################
# can add FLEXIBLE and/or NONBLOCKING to PCG
[SCALAR KRYLOV SOLVER]
PCG

[SCALAR SOLVER TOLERANCE]
1.e-10

# can be IPDG, [ currently CONTINUOUS seems to be broken ]
[SCALAR DISCRETIZATION]
#IPDG
CONTINUOUS


# can be NODAL or BERN
[SCALAR BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[SCALAR PRECONDITIONER]
JACOBI
#MULTIGRID

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[SCALAR MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[SCALAR MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

[SCALAR MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[SCALAR PARALMOND CYCLE]
VCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[SCALAR PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[SCALAR PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[SCALAR PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[SCALAR PARALMOND LPSCN ORDERING]
MAX
#MIN

[SCALAR PARALMOND CHEBYSHEV DEGREE]
2

###########################################

# compare to a reference solution. Use NONE to skip comparison
# can be BELTRAMI
[EXACT]
#VORTEX
#BELTRAMI
NONE

[VERBOSE]
FALSE
#TRUE

[DEBUG ENABLE OGS]
1

[DEBUG ENABLE REDUCTIONS]
1

[ELLIPTIC INTEGRATION]
NODAL

# bail out iteration count for PCG
[MAXIMUM ITERATIONS]
1000

# force PCG to go to MAXIMUM ITERATIONS
[FIXED ITERATION COUNT]
FALSE

[USE PRECOMPILED BINARIES]
FALSE
