[FORMAT]
1.0

[MESH FILE]
#../../meshes/sphereQuadH01.msh 
../../meshes/sphereQuadH02.msh 

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
4

# For the SEM solver.
[ELEMENT MAP]
ISOPARAMETRIC

[SPHERE RADIUS]
1.0

[OUTER RADIUS]
1.5

[LAMBDA]
100.0

[INNER BC]
DIRICHLET
#NEUMANN

[OUTER BC]
DIRICHLET
#NEUMANN

[SHELL SOLVER]
#ASBF
SEM

[POLYNOMIAL DEGREE]
7

# For the SEM solver or the ASBF solver with the PIECEWISEDISCRETE basis, this
# is the number of radial elements.  For the ASBF solver with the TRUE or
# GLOBALDISCRETE bases, this is the length of the eigenfunction expansion in
# the radial direction.
[RADIAL DISCRETIZATION SIZE]
1

# How to determine radial breakpoints.  Used by the SEM solver and the ASBF
# solver with the PIECEWISEDISCRETE basis.  Ignored by the ASBF solver with the
# TRUE or GLOBALDISCRETE bases.
[RADIAL DISCRETIZATION]
EQUISPACED

# Radial basis used by the ASBF solver.  Ignored by the SEM solver.
[ASBF RADIAL BASIS]
#TRUE
#GLOBALDISCRETE
PIECEWISEDISCRETE

[THREAD MODEL]
CUDA
#OpenMP
#OpenCL

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

# can add FLEXIBLE to PCG
[KRYLOV SOLVER]
PCG+FLEXIBLE

# can be IPDG, or CONTINUOUS
[DISCRETIZATION]
IPDG
#CONTINUOUS

# can be NODAL or BERN
[BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[PRECONDITIONER]
#MULTIGRID
JACOBI
#SEMFEM
#FULLALMOND
#NONE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[MULTIGRID SMOOTHER]
DAMPEDJACOBI+CHEBYSHEV

[MULTIGRID CHEBYSHEV DEGREE]
2

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[PARALMOND PARTITION]
STRONGNODES

[PARALMOND CHEBYSHEV DEGREE]
2

###########################################

[VERBOSE]
TRUE
#FALSE
